export CSCOPE_EDITOR=/usr/bin/nvim
export SVN_EDITOR=/usr/bin/nvim
alias br=broot
alias fd=fdfind
alias gi=git

#rg
alias rgm="rg -t amake --type-add 'zmake:*.in' -tzmake -g "\!toolchain" -S"
alias rgc="rg -tc- -g "\!toolchain" -S"
alias rg="rg -S --ignore-file=/home/inaki/.fdignore"

#nvim
alias v="nvim -O"
alias vim="nvim -O"
alias nvim="nvim -O"
alias vd="nvim -d"

#ls alias
alias ll="exa -lah"

#make
alias make="colormake"
alias ma="make application"
alias maf="make application_factory"
alias mre="make factory_esmr5.release"
alias mc="make clean"

alias z="zenter.sh"
alias za="z make application"
alias zaf="z make application_factory"
alias zre="z make factory_esmr5.release"
alias zc="z make clean"
alias zemul="z make emul"

#lazygit
alias la="lazygit"
alias lameter="lazygit -p work/meter_esmr5"
alias lamcoms="lazygit -p work/libmcoms"
alias lamutils="lazygit -p work/libmutils"
alias lacutils="lazygit -p work/libcutils"
alias lamtr="lazygit -p work/libmtr"
alias lawmbus="lazygit -p work/wmbus"
alias lalte="lazygit -p work/lte"
alias latle="lazygit -p work/lte"


#install
alias install="sudo apt install"
alias isntall="sudo apt install"

# Opens the files specified with vim
alias -s {c,h,cpp,txt,patch,log,in,mk,zsh,vim,lua}=nvim
alias -s {xls,xlsx,csv}="libreoffice7.2 --calc"
alias -s {ppt,pptx}="libreoffice7.2 --impress"
alias -s {doc,docx}="libreoffice7.2 --writer"

# avoid entering "| grep" 
alias -g G='| grep -i'

# Chage to the most common directories
d='dirs -v | head -10'
0='cd ~0'
1='cd ~1'
2='cd ~2'
3='cd ~3'
4='cd ~4'
5='cd ~5'
6='cd ~6'
7='cd ~7'
8='cd ~8'
9='cd ~9'

alias esmr5='cd ~/dev/esmr5/pp'
alias dtc='cd ~/dev/zivos/3.23.80-4WF01610016_RC1_bidelek'

# Safe rm
alias del=saferm.sh
alias rm="echo Use 'del', or the full path i.e. '/bin/rm'"

# Safe mv
alias mv="mv -i"

# Change cat for batcat
alias c="batcat"
alias cat="batcat"

reload_aliases () {
    # do nothing if there is no $ALIAS_FILE
    [[ -e ALIAS_FILE ]] || return 1
    # check if $ALIAS_FILE has been modified since last reload
    # the modifier `(:A)` resolves any symbolic links
    if [[ $LAST_ALIAS_RELOAD < $(stat -c %Y ${ALIAS_FILE}(:A)) ]]; then
        # remove all aliases; optional!
        # only do this if all of your aliases are defined in $ALIAS_FILE
        # also affects aliases defined on the command line
        source $ALIAS_FILE
        # update date of last reload
        LAST_ALIAS_RELOAD=$(date +%s)
    fi
}
